body {
    background-image: url("../images/star-space-tile.jpg");
    background-size: 500px;
    background-color: #cccccc;
    margin: 0;
    padding: 0;
}

h1, h2, h3, p {
	color: #FCCA2C;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
}

h2 {
	font-size: 2.5em;
	position: relative;
	padding: 0;
	margin: 0;
	top: -20px;
}

h3 {
	font-size: 1.5em;
}

.info-container div {
	width: 200px;
	height: 90px;

	outline: 2px solid #FCCA2C;
	display: inline-block;
}

.info-container {
	max-width: 200px;
	max-height: 90px;
	vertical-align: top;
	border: 3px solid #FCCA2C;
	display: inline-block;
	margin: 5px;
	border-radius: 3px;
}

.lb-caption strong {
	font-size: 1.4em;
	font-weight: bold;
	line-height: 56px;
}

.jumbotron {
	height: 200px;
	width: 90%;
	max-width: 800px;
	border: 25px solid rgba(255,255,255,.9);
	border-radius: 10px;
	margin: 0 auto 50px;
	-webkit-box-shadow: 0px 0px 25px 0px rgba(255,255,255,1);
	-moz-box-shadow: 0px 0px 25px 0px rgba(255,255,255,1);
	box-shadow: 0px 0px 25px 0px rgba(255,255,255,1);
}

.jumbo-inset {
	height: 100%;
	width: 100%;
	-webkit-box-shadow: inset 0px 0px 25px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 0px 25px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 0px 25px rgba(255,255,255,1);
}

.jumbo-inset img {
	max-width: 70%;
	max-height: 70%;
	position: relative;
	left: 15%;
	top: 15%;
	vertical-align: center;

}

@media (min-width: 500px) {
	.jumbotron {
   	height: 400px;
	}
}
